.box1 .box2 {
  color: red;
}
.box1 > .box3 {
  color: green;
}
.box1 > .box3:hover {
  color: blue;
}
.box1:hover {
  color: yellow;
}
div .box1 {
  width: 100px;
}
.p1,
.p2 {
  width: 100px;
  height: 100px;
}
.p2 {
  width: 100px;
  height: 100px;
  color: red;
}
.p2 {
  color: yellow;
}
