/* 设置banner */
.banner img{
    width: 100%;
}
.banner .img-list li{
    position: absolute;
}
.banner{
    position: relative;
    background-color: black;
    height: 460px;
}

.pointer{
    position: absolute;
    z-index: 9999;
    right: 35px;
    bottom: 22px;
}
.pointer a{
    width: 6px;
    height: 6px;
    border: 2px rgba(255, 255, 255, .4) solid;
    border-radius: 50%;
    background: rgba(0, 0, 0, .4);
    float: left;
    margin-left: 6px;
}
.pointer a:hover,
.pointer a.active
{
    border: 2px rgba(0, 0, 0, .4) solid;
    background: rgba(255, 255, 255, .4);
}